.next-shape-wrapper {
  position: absolute;
  left: -120px;
  top: 0;
}

.next-shape {
  width: 110px;
  height: 110px;
}

@media (max-width: 300px) {
  .next-shape-wrapper {
    display: none;
  }
}
