.field {
  border: solid 1px var(--border);
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 15px 15px #181818;
}

.field-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-wrapper {
  padding-bottom: 15px;
}
